@import "../../styles/General-Styles.css";

#HomePageView-Container {
    height: 90%;
    width: 100%;
}
#jumbo-Container{
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-height: 60%;
}
.jumbotron{
    height: 100%;
    width: 100%;
    margin: 0;
}

#Jumbo-Image{
    display: inline-block;
    overflow: hidden;
    left: 50%;
    background-position:center;
    margin-right: auto;
    background-size: cover;
    width: 100%;
    background-height:90%;
}
#jumbo-caption-container{
    position: absolute;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Color white with alpha 0.9*/
    top: 30%;
}
jumbo-text {
    font-size : 28px;
    color: white;
    position: relative;
    vertical-align: middle;
}
#LowerHomepageView-Container{
    overflow:hidden;
    max-height: 40%;
}
#homepage-panel {
    position: relative;
    float: left;
    width: 50%;
}
#panel-shroud {
    position: absolute;
    top:0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}


#panel-image{
    display: inline-block;
    left: 50%;
    background-position:center;
    margin: auto;
    background-size: cover;
    width: 100%;
    height: 100%;

}
panel-text {
    top: 15%;
    font-size: 3vw;
    color: white;
    position: relative;
    vertical-align: middle;
}

#info-div {
    padding-bottom: 5%;
}