.App {
    text-align: center;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
#app{
    height: 100%
}
.App-logo {

    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}
#mainHeader {
    background-color: #c2011b;
    height: 60px;
    color: aliceblue;
    padding:10px;
    margin-top: 0px;
    position: static;

}

.btn.sign-out-btn {
    position: fixed;
    top: 10%;
    right:20px;
    height: 45px;
    background-color: #c2011b;
    display: block;
}

banner-text {
    font-size : 28px;
    top: 0px;
    position: relative;
}


/* This is the CSS that aligns
   the footer to the bottom of
   the screen */
/*.footer {*/
    /*position: absolute;*/
    /*bottom: 0px;*/
    /*height: 55px;*/
    /*width: 100%;*/
/*}*/
#Footer-Container {
    background-color: black;
    width: 100%;
    max-height: 10%;
    position: fixed;
    bottom: 0px;
}

.btn.btn-primary {
    background-color: #c2011b;
}