AdminPage-Container{
    text-align: center;
}

.Center {
    margin: auto;
    width: 70%;
    border: .5px solid lightgray;
    padding: 2px;
    text-align: center;
}

.tableHeader {
    width: 200vw;
    height: 5vw;
    background-color: #c2011b;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    border: 1px solid black;
    text-align: center;
}

.commonButton {
    background-color: #c2011b; /* White at first and then after cursor hovers it turns to Radford Red. */
    border: 2px solid #c2011b;
    color: white;
    padding: 5px 20px;
    display: inline-block;
    font-size: 18px;
    position: relative;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.fileUpload {
    width: 175px;
    height: 50px;
    display: inline-block;
}

.boxUpload {
    width: 100%;
    border: 5px #c2011b;
    margin: 10px;
    padding: 5px;
}
.commonButton:hover {
    color: black;
    background-color: white;
}

tr{
    text-align: center;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
td {
    width: 25%;
    height: 5vw;
    border: 1px solid black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #222222;
    text-align: center;
}

span.glyphicon.glyphicon-trash {
    position: absolute;
    top: 35%;
    right: 2%;
}

span.glyphicon.glyphicon-download {
    position: absolute;
    top: 35%;
    left: 2%;
}

span.glyphicon.glyphicon-log-out {
    position: absolute;
    top: 15%;
    right: 2%;
}

ul.list-group {
    padding-left: 15%;
    alignment: center;
    width: 80%;
    height:100%;
    overflow-y: auto;
    text-align: center;

}