@import "../../styles/General-Styles.css";

#loginBackgroundStretch{
    width : 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
    position: absolute;
}
.background-image {
    width: 100%;
    height: 100%;
}

#LoginView-Container{
    margin-top: -60px;
    height: 100%;
}
#loginFields-container {
    position: relative;
    margin-top: 0px;
    width: 340px;
    height: 360px;
    left: 50%;
    top: 30%;
    margin-left: -170px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#top-div-Container {
    background-color: #c2011b;
    width: 100%;
    height: 95px;
    margin-top: -20px;
}

p a {
    font-size: 11px;
    color: #aaa;
    padding-left: 15px;
    left: 50%;
    margin-top: -13px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

p a:hover {
    color: #555;
}

h2.form-signin-header {
    margin-top: 20px;
    padding-top: 30px;
    color: white;
}

input {
    max-width: 200px;
}
.form-signin input{
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
}
