
.subHeader {
    margin-left: 60%;
 }

.span.glyphicon.glyphicon-user {
    position: absolute;
    top: 15%;
    left: 0;
}


.span.glyphicon.glyphicon-log-out {
    position: absolute;
    top: 15%;
    right: 2%;
}